/* layout.css should contain general positioning on the page
Apply to elements such as header, footer, nav, aside
Classes and IDs can be included here */

/* mobile view */

@media only screen and (max-width:767px){

    body{
        margin: auto;
        width: 480px;
    }
    
    div{
        border: 1px solid black;
    }

    .top-one{
        height: 75px;
        width: 480px;
    }

    .top-four{
        height: 125px;
        width: 480px;
    }

    .square{
        float: left;
        height: 250px;
        width: 240px;
    }

    .bottom{
        clear: both;
        height: 80px;
        width: 480px;
    }
}

/* desktop view */

@media screen and (min-width:768px){
    
    body{
        margin: auto;
        width: 960px;
    }

    div{
        border: 1px solid black;
        height: 200px;
        width: 200px;
    }

    header > div{
        height: 100px;
        width: 960px;
    }

    aside > div{
        float: left;
        height: 600px;
        width: 200px;
    }

    #c,#d{
        float: left;
        height: 200px;
        width: 380px;
    }

    #e, #f, #g, #h, #i{
        float: left;
        height: 250px;
        width: 190px;
    }

    #i{
        float: left;
        height: 150px;
        width: 760px;
    }
    


}